{$name_prefix = "`$app_id`_`$plugin_id`"}

{include file='./blocks/Head.html'}

<form id="plugins-settings-form" action="?module=plugins&id={$plugin_id}&action=save" method="POST">
    {$wa->csrf()}

    <div class="article wider">
        <div class="article-body">
            <div id="{$plugin_id}">
                {include file='./blocks/Header.html'}

                <div class="fields custom-mt-24">
                    <div class="field">
                        <div class="name">[`setting.storefront_selector`]</div>
                        <div class="value">
                            <prefill-storefront-select storefronts='{if $storefronts_json}{$storefronts_json|escape}{else}{ldelim}"storefronts":[],"statuses":{ldelim}{rdelim}{rdelim}{/if}'
                                                      module="prefillPluginSettingsStorefront"
                                                      default-label="[`setting.storefront_selector.general`]"
                                                      show-status="true"
                                                      contents-wrapper-selector="#prefill-storefront-content">
                            </prefill-storefront-select>
                            <p class="prefill-storefront-select-hint custom-mt-8">[`hint.storefront_selector_status`]</p>
                        </div>
                    </div>
                </div>

                <div class="prefill-storefront-content" id="prefill-storefront-content"></div>
            </div>
        </div>
    </div>

    <div class="bottombar sticky custom-mt-20">
        <div class="custom-pl-48 custom-py-16 not-blank">
            <div class="value submit js-footer-actions flexbox space-8 middle">
                <button type="submit" class="button green js-submit-button">[`Save`]</button>
                <span id="plugins-settings-form-status" style="display: none;"></span>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        const prefillSettings = new PrefillSettings('#{$plugin_id}');
        prefillSettings.switcher();
    });
</script>