:root {
    --prefill-accent-color: #000000;
}

.prefill-dialog {
    border: none;
    border-radius: 1.5em;
    padding: 0;
    max-width: 50em;
    width: calc(100% - 2em - 6px);
}

.prefill-dialog::backdrop {
    background-color: rgb(0 0 0 / 0.6);
}

.prefill-dialog__content {
    height: 100%;
    padding: 1.5em;
}

.prefill-dialog__loading {
    font-size: 1em;
}

.prefill-dialog__close-button {
    cursor: pointer;
    position: absolute;
    width: 2em;
    height: 2em;
    top: .8em;
    right: .8em;
    background-color: #f1f1f1;
    border-radius: 50%;
    transition: .3s;
}

.prefill-dialog__close-button:hover {
    background-color: #ececec;
}

.prefill-dialog__close-button:before, .prefill-dialog__close-button:after {
    content: "";
    position: absolute;
    width: 0.9em;
    height: 0.19em;
    background: #000;
    top: calc(50% - 0.095em);
    left: calc(50% - 0.45em);
}

.prefill-dialog__close-button:before {
    transform: rotate(45deg);
}

.prefill-dialog__close-button:after {
    transform: rotate(-45deg);
}

.prefill-params__header {
    font-size: 20px;
    font-weight: 600;
}

.prefill-params__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.prefill-params__card {
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 1em;
    border: 0.06em solid #e0e0e0;
    border-radius: 0.6em;
    cursor: pointer;
    box-sizing: border-box;
}

.prefill-params__card:hover {
 border-color: var(--prefill-accent-color);
}

.prefill-params__card-title {
    font-weight: 600;
    line-height: 1.2em;
    color: #333;
    display: flex;
    justify-content: space-between;
    word-break: break-word;
}

.prefill-params__card-content {
    line-height: 1.4em;
}

@media (min-width: 480px) {
    .prefill-params__card {
        flex: 0 0 calc(50% - 1.2em);
    }
}