.fields {
    width: 100%;
}

.field input[type="text"],
.field input[type="number"],
.field select {
    padding: 5px;
}

[data-block="tabs"] {
    margin-top: 30px;
}

[data-tab-content] {
    padding: 20px 0;
}

