{strip}
    <input type="hidden" name="{$name}" value="false">
    <span class="switch"
          data-type="switcher{if isset($collapse)},collapse{/if}"
            {if isset($collapse)} data-for="{$collapse}" {/if}
            {if isset($id)} data-id="{$id}" {/if}
            {if isset($on_change)} data-on-change="{$on_change}"{/if}>
        <input type="checkbox"
               name="{$name}"
               value="true"
                {if isset($value) && $value == 'true'}checked{/if} />
    </span>
{/strip}