{*
* Zen Mode Collapse Block
* Блок сворачивания группы с иконкой, сводкой и кнопкой
*
* @param string $group Имя группы
* @param bool $is_collapsed Состояние группы
* @param string $icon_url URL иконки (опционально)
* @param string $summary_html HTML сводки (опционально)
*}

<div class="prefill-zen-collapse-block {if $is_collapsed}js-prefill-zen-toggle{/if}" {if
    $is_collapsed}data-group="{$group|escape}" data-action="expand" {/if}>
    {if $is_collapsed && !empty($icon_url)}
    <img src="{$icon_url|escape}" class="js-prefill-zen-icon prefill-zen-icon" alt="">
    {/if}

    <div class="prefill-zen-content">
        {if $is_collapsed}
        <div class="prefill-zen-summary">
            {$summary_html}
        </div>
        {/if}

        {* Кнопка переключения (Изменить / Свернуть) *}
        {include file="./ToggleButton.html" group=$group is_collapsed=$is_collapsed}
    </div>
</div>