{strip}
    <h2 class="prefill-params__header">Выберите способ доставки</h2>
    <div class="prefill-params__wrapper">
        {foreach $fill_params_array as $fill_params}
            <div class="prefill-params__card">
                <header class="prefill-params__card-title">
                    {$fill_params.shipping_name}
                </header>
                <div class="prefill-params__card-content">
                    {$fill_params.zip}, {$fill_params.country_name}, {$fill_params.region_name}, {$fill_params.city}
                    , {$fill_params.street}
                </div>
            </div>
        {/foreach}
    </div>
{/strip}